@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply bg-background antialiased;
    color: rgb(250, 250, 250);
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(13, 13, 13);
}

::-webkit-scrollbar-thumb {
  background: rgb(38, 38, 38);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}